@model SakhCuba.Models.Application
@{
    ViewData["Title"] = "Application";
}

<h2>Анкета</h2>
<form asp-antiforgery="true" asp-action="Application">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Name"></label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Nickname"></label><br />
            <input type="text" asp-for="Nickname" />
            <span asp-validation-for="Nickname"></span>
        </div>
        <div>
            <label asp-for="DiscordName"></label><br />
            <input type="text" asp-for="DiscordName" />
            <span asp-validation-for="DiscordName"></span>
        </div>
        <div>
            <label asp-for="Age"></label><br />
            <input type="number" asp-for="Age" />
            <span asp-validation-for="Age"></span>
        </div>
        <div>
            <label asp-for="About"></label><br />
            <textarea style="height: 218px" cols="30" type="text" asp-for="About"></textarea>
            <span asp-validation-for="About"></span>
        </div>
        <div>
            <label asp-for="FavoriteBook"></label><br />
            <input type="text" asp-for="FavoriteBook" />
            <span asp-validation-for="FavoriteBook"></span>
        </div>
        <div>
            <label asp-for="ReasonToPlay"></label><br />
            <textarea style="height: 218px" cols="30" type="text" asp-for="ReasonToPlay"></textarea>
            <span asp-validation-for="ReasonToPlay"></span>
        </div>
        <div>
            <label asp-for="Rules"></label><br />
            <input type="text" asp-for="Rules" />
            <span asp-validation-for="Rules"></span>
        </div>
        <div>
            <input type="submit" value="Отправить" />
        </div>
    </div>
</form>

@section scripts{ 

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
