
@{
    ViewData["Title"] = "Правила";
}

    <section class="rules">
        <div class="container">
            <div class="rules__item">

                <h3>0.Регистрация на сервер</h3>
                <p>0.1. Для того, чтобы попасть на сервер необходимо заполнить анкету и пройти небольшое собеседование в нашем дискорде — <a rel="noreferrer noopener" href="https://discord.com/invite/rGUJvpr" target="_blank">https://discord.com/invite/rGUJvpr</a></p>

                <p><strong><span class="has-inline-color has-vivid-red-color">0.2. Если вам меньше 16 лет, то условия регистрации для вас другие(см. страницу с анкетой)</span></strong></p>

                <h3>1.Общие положения</h3>

                <p>1.1. Играя на сервере, вы соглашаетесь на исполнение данных правил</p>

                <p>1.2. Запрещено распространение ложной информации, ввод игроков или администрации в заблуждение</p>

                <p>1.3. Администратор вправе забанить вас на сервере за нарушение данных правил</p>

                <p>1.4. Администрация вправе изменять правила в любой момент с уведомлением об этом игроков</p>

                <p>1.5. Запрещено иметь несколько аккаунтов на сервере</p>

                <p>1.6. Животноводство — одна из важнейших отраслей сельского хозяйства</p>

                <p>1.7. Играя на сервере, вы должны состоять в&nbsp;<a rel="noreferrer noopener" href="https://discord.com/invite/rGUJvpr" target="_blank">дискорде сервера</a></p>



                <p>1.8 Вашим ником на сервере дискорда обязан являться ваш ник в игре</p>



                <h3>2.Взаимодействие с игроками</h3>



                <p>2.1. Запрещен грифинг в любых формах и проявлениях</p>



                <p>Гриферство или грифинг (от англ. griefing — вредительство) — акт нанесения морального или материального ущерба людям в компьютерных играх. Иными словами, это игровой вандализм. В Minecraft гриферство, в основном, осуществляется путём разрушения чужих построек или внесением в них вредных или несанкционированных изменений, лишением игроков полученного игрового имущества</p>



                <p>2.2. Запрещено воровство из чужих сундуков</p>



                <p>2.3. Запрещена продажа игровых предметов за реальные деньги</p>



                <p>2.4. Запрещено убийство других игроков без весомой причины</p>



                <h3>3. Взаимодействие с миром и сервером</h3>



                <p>3.1. Запрещено использование читов, X-RAY текстурпаков, а также использование различных методов копания алмазов (к этому относится относительно недавний метод по гравию)</p>



                <p>3.2. Запрещено использование багов</p>



                <p>3.3. Запрещены механизмы, оказывающие высокую нагрузку на сервер, при этом не имеющие практического смысла</p>



                <p>3.4. Запрещены бессмысленные постройки (земляные столбы в небо и т.д.)</p>



                <p>3.4.1. Запрещены постройки оскорбительного содержания, а так же изображение нацистской, фашистской символики</p>



                <p>3.4.2. Запрещено ломать бедрок в верхнем мире, больше чем на чанк, не на своей территории и без согласования с администрацией</p>



                <p>3.5. Запрещено строить свою постройку ближе, чем 100 блоков к постройке другого человека без его разрешения</p>



                <p>3.6. Ловушки разрешены ТОЛЬКО на своих базах</p>



                <p>3.7. Разрешено достраивать, изменять территорию спавна при наличии прямых рук, таланта и соблюдения общего стиля. Таблички и карту трогать – нельзя!</p>



                <p>3.7.1. Любое изменение спавна должно быть согласовано с администрацией</p>



                <p>3.8. Запрещены любые модификации, каким-либо образом облегчающие игровой процесс, или дающие преимущества перед игроками</p>



                <p>3.8.1. Разрешены модификации: OptiFine, Forge, Fabric, Lithium, Phosphor, Sodium, DynamicSoundFilter, Mambience, Lightmatica. </p>



                <h3>4. Взаимодействие с чатом</h3>



                <p>4.1. Запрещены флуд, спам</p>



                <p>4.2. Запрещено чрезмерное употребление мата в чате. Ведите себя достойно</p>



                <p>4.3. Запрещено оскорбительное поведение в отношении конкретного игрока или группы игроков, в том числе выражения, выходящие за рамки культурного общения согласно общепринятым этическим и моральным нормам, или являющиеся провокационными</p>



                <p>4.4. Категорически запрещена намеренная реклама чего-либо</p>



                <p>В вопросе прочитали ли вы правила можете ответить #я_прочитал_правила – это повысит ваши шансы попасть в белый список</p>
            </div>
        </div>
    </section>
