@model SakhCuba.Models.NewsViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Header" class="control-label"></label>
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstColumn" class="control-label"></label>
                <input asp-for="FirstColumn" class="form-control" value="" />
                <span asp-validation-for="FirstColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondColumn" class="control-label"></label>
                <input asp-for="SecondColumn" class="form-control" value="" />
                <span asp-validation-for="SecondColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThirdColumn" class="control-label"></label>
                <input asp-for="ThirdColumn" class="form-control" value="" />
                <span asp-validation-for="ThirdColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <div>
                    <input asp-for="Picture" type="file" id="customFile" />
                </div>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

