@model SakhCuba.Models.NewsEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Header" class="control-label"></label>
                <label class="control-label">Старое: @Model.Header</label>
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstColumn" class="control-label"></label>
                <label class="control-label">Старое: @Model.FirstColumn</label>
                <input asp-for="FirstColumn" class="form-control" />
                <span asp-validation-for="FirstColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondColumn" class="control-label"></label>
                <label class="control-label">Старое: @Model.SecondColumn</label>
                <input asp-for="SecondColumn" class="form-control" />
                <span asp-validation-for="SecondColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThirdColumn" class="control-label"></label>
                <label class="control-label">Старое: @Model.ThirdColumn</label>
                <input asp-for="ThirdColumn" class="form-control" />
                <span asp-validation-for="ThirdColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Старая картинка</label>
                @if (Model.Picture != null)
                {
                    <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Picture))" style="height:50%; width:50%" />
                }
            </div>
            <div class="form-group">
                <label asp-for="NewPicture" class="control-label"></label>
                <div>
                    <input asp-for="NewPicture" type="file" id="customFile" />
                </div>
                <span asp-validation-for="NewPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

